In [1]:
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
counties = gpd.read_file('../data/county/tncounty.shp')

In [ ]:
counties

In [2]:
tennessee = pd.read_csv('../data/tennessee.csv')

In [3]:
tennessee

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days PM2.5,Days PM10,Region
0,Tennessee,Anderson,2021,235,219,16,0,0,0,0,87,49,38,0,0,235,0,0,South
1,Tennessee,Blount,2021,365,292,71,2,0,0,0,107,58,41,0,0,256,109,0,South
2,Tennessee,Claiborne,2021,357,339,18,0,0,0,0,71,46,34,0,0,357,0,0,South
3,Tennessee,Davidson,2021,365,237,124,4,0,0,0,116,66,44,0,21,106,238,0,South
4,Tennessee,DeKalb,2021,363,349,14,0,0,0,0,84,46,35,0,0,363,0,0,South
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,Tennessee,Sullivan,2014,365,307,58,0,0,0,0,90,56,37,5,89,216,55,0,South
183,Tennessee,Sumner,2014,280,216,63,1,0,0,0,122,66,42,0,0,217,63,0,South
184,Tennessee,Union,2014,365,355,10,0,0,0,0,74,37,19,0,0,0,0,365,South
185,Tennessee,Williamson,2014,234,210,23,1,0,0,0,105,51,38,0,0,234,0,0,South
186,Tennessee,Wilson,2014,238,214,24,0,0,0,0,87,51,39,0,0,238,0,0,South

In [4]:
ten_2021 = tennessee.loc[tennessee['Year'] == 2021]

In [5]:
ten_2021

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days PM2.5,Days PM10,Region
0,Tennessee,Anderson,2021,235,219,16,0,0,0,0,87,49,38,0,0,235,0,0,South
1,Tennessee,Blount,2021,365,292,71,2,0,0,0,107,58,41,0,0,256,109,0,South
2,Tennessee,Claiborne,2021,357,339,18,0,0,0,0,71,46,34,0,0,357,0,0,South
3,Tennessee,Davidson,2021,365,237,124,4,0,0,0,116,66,44,0,21,106,238,0,South
4,Tennessee,DeKalb,2021,363,349,14,0,0,0,0,84,46,35,0,0,363,0,0,South
5,Tennessee,Dyer,2021,350,295,54,1,0,0,0,105,54,29,0,0,0,350,0,South
6,Tennessee,Hamilton,2021,351,258,92,1,0,0,0,101,60,42,0,0,166,185,0,South
7,Tennessee,Jefferson,2021,235,199,36,0,0,0,0,100,58,41,0,0,235,0,0,South
8,Tennessee,Knox,2021,365,239,121,5,0,0,0,150,66,44,0,0,103,262,0,South
9,Tennessee,Lawrence,2021,357,319,38,0,0,0,0,97,51,26,0,0,0,357,0,South
10,Tennessee,Loudon,2021,365,316,49,0,0,0,0,90,54,38,0,0,186,179,0,South
11,Tennessee,Madison,2021,356,298,57,1,0,0,0,106,55,28,0,0,0,356,0,South
12,Tennessee,Maury,2021,349,301,47,1,0,0,0,109,55,26,0,0,0,349,0,South
13,Tennessee,McMinn,2021,360,312,48,0,0,0,0,89,54,28,0,0,0,360,0,South
14,Tennessee,Montgomery,2021,359,317,41,1,0,0,0,138,54,25,0,0,0,359,0,South
15,Tennessee,Putnam,2021,356,314,42,0,0,0,0,90,53,27,0,0,0,356,0,South
16,Tennessee,Roane,2021,357,321,36,0,0,0,0,88,51,28,0,0,0,357,0,South
17,Tennessee,Sevier,2021,363,310,53,0,0,0,0,93,54,42,0,0,363,0,0,South
18,Tennessee,Shelby,2021,365,266,95,4,0,0,0,150,64,42,0,1,206,158,0,South
19,Tennessee,Sullivan,2021,365,301,64,0,0,0,0,100,58,36,0,0,201,164,0,South
20,Tennessee,Sumner,2021,357,286,69,2,0,0,0,133,58,38,0,0,177,180,0,South
21,Tennessee,Williamson,2021,243,225,18,0,0,0,0,67,50,39,0,0,243,0,0,South
22,Tennessee,Wilson,2021,243,221,22,0,0,0,0,74,48,37,0,0,243,0,0,South

In [15]:
ten_2021 = ten_2021[['County','Max AQI']].reset_index(drop=True)

In [16]:
ten_2021.columns = ['County', 'max_AQI_2021']

In [17]:
ten_2021

        County  max_AQI_2021
0     Anderson            87
1       Blount           107
2    Claiborne            71
3     Davidson           116
4       DeKalb            84
5         Dyer           105
6     Hamilton           101
7    Jefferson           100
8         Knox           150
9     Lawrence            97
10      Loudon            90
11     Madison           106
12       Maury           109
13      McMinn            89
14  Montgomery           138
15      Putnam            90
16       Roane            88
17      Sevier            93
18      Shelby           150
19    Sullivan           100
20      Sumner           133
21  Williamson            67
22      Wilson            74

In [6]:
ten_2020 = tennessee.loc[tennessee['Year'] == 2020]

In [7]:
ten_2020 = ten_2020[['County','Year','Max AQI']].reset_index(drop=True)

In [8]:
ten_2020

        County  Year  Max AQI
0     Anderson  2020       64
1       Blount  2020       92
2    Claiborne  2020       51
3     Davidson  2020      116
4       DeKalb  2020       61
5         Dyer  2020      117
6     Hamilton  2020      151
7    Jefferson  2020       74
8         Knox  2020       90
9     Lawrence  2020       72
10      Loudon  2020       97
11     Madison  2020      108
12       Maury  2020       91
13      McMinn  2020       88
14  Montgomery  2020      116
15      Putnam  2020      105
16       Roane  2020       91
17      Sevier  2020      105
18      Shelby  2020      152
19    Sullivan  2020       80
20      Sumner  2020      121
21  Williamson  2020       71
22      Wilson  2020       64

In [12]:
ten_2020 = ten_2020.drop(columns= ['Year'])

In [13]:
ten_2020.columns = ['County', 'max_AQI_2020']

In [14]:
ten_2020

        County  max_AQI_2020
0     Anderson            64
1       Blount            92
2    Claiborne            51
3     Davidson           116
4       DeKalb            61
5         Dyer           117
6     Hamilton           151
7    Jefferson            74
8         Knox            90
9     Lawrence            72
10      Loudon            97
11     Madison           108
12       Maury            91
13      McMinn            88
14  Montgomery           116
15      Putnam           105
16       Roane            91
17      Sevier           105
18      Shelby           152
19    Sullivan            80
20      Sumner           121
21  Williamson            71
22      Wilson            64

In [18]:
tennessee_compare = pd.merge(ten_2021, ten_2020 , on = 'County')

In [19]:
tennessee_compare

        County  max_AQI_2021  max_AQI_2020
0     Anderson            87            64
1       Blount           107            92
2    Claiborne            71            51
3     Davidson           116           116
4       DeKalb            84            61
5         Dyer           105           117
6     Hamilton           101           151
7    Jefferson           100            74
8         Knox           150            90
9     Lawrence            97            72
10      Loudon            90            97
11     Madison           106           108
12       Maury           109            91
13      McMinn            89            88
14  Montgomery           138           116
15      Putnam            90           105
16       Roane            88            91
17      Sevier            93           105
18      Shelby           150           152
19    Sullivan           100            80
20      Sumner           133           121
21  Williamson            67            71
22      Wilson            74            64

In [20]:
tennessee_compare.to_csv('tennessee_compare.csv',index=False)

In [ ]:
ten_map = pd.merge(counties, ten, left_on ='NAME' , right_on ='County')

In [ ]:
ten_map.to_csv('ten_map.csv', index=False)

In [ ]:
counties.plot()

In [ ]:
fig, ax = plt.subplots(figsize=(16,4))
ten_map.plot(column = 'Good Days', 
              ax = ax)
ax.axis('off');